<!DOCTYPE html>
<html>
<head>
    <title>AutoPrint</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body style="font-family: Arial, Helvetica, sans-serif;font-size: 18px;">
    <!-- <button id="cmd_but" onclick="alert('hello')" style="top: 100px;">Close After Print</button> -->
    <div class="container_all">
        
        <div class="title">
            AutoPrint
        </div>
        <div class="buttons">
            <button id="cmd_but_Home" style="top: 0%;" onclick="Home_printer()">Home Printer</button>
            <button id="cmd_but_Move" style="top: 15%;">Move Axis</button>
            <button id="cmd_but_Heat" style="top: 30%;">Pre Heat</button>
            <button id="cmd_but_Print" style="top: 45%;">Print</button>
            <button id="cmd_but_Load" style="top: 60%;">Load File</button>
            <button id="cmd_but_Close" onclick="alert('hello')" style="top: 75%;">Close after print</button>
        </div>
        <div class="interaction">
            interaction
        </div>
        <div class="status">
            Printer status
            <div class="meter">
                <span style="width: 25%">25%</span>
                
            </div>
            <span class="progression_label">
                Print progression
            </span>
        </div>
        
    </div>
    <script>
        function Home_printer(){
            
        }
    </script>

    
</body>
</html>